@charset "utf-8";
/* CSS Document */

.select-pond-main {
  border: 1px solid #9f9e9e;
  border-radius: 10px;
  padding: 0 15px;
}

.select-pond-main input[type="text"] {
  color: #3d5166;
  font-family: Cabin,Arial,"Arial Unicode MS",Helvetica,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  padding: 4px 10px;
  text-shadow: none;
  width: 100%;
}
.art-block.widget.widget_pond_calculator_widget.clearfix {
    max-width: 320px;
}
ul.three-shapes > li::before {
  display: none;
}
ul.three-shapes > li::after {
  display: none;
}
.three-shapes.nav.nav-tabs > li {
 display: inline-block;
 width: 33%;
}
.three-shapes.nav.nav-tabs > li a {
 padding: 10px;
}
.pond-calculator-widget .widget-title {
 font-size: 18px;
 margin-bottom: 10px;
}
.select-pond-main h3 {
color: #333;
  background: #adacac none repeat scroll 0 0;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
ul.three-shapes {
  padding: 0;
}
.three-shapes li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: auto;
}
.three-shapes li a span {
  display: block;
  color: #1b2a67;
display: block;
font-size: 11px;
}
.select-pond-main form label {
	font-size: 13px;
	font-weight: bold;
	font-family: Calibri;
	color: #333;
	padding-bottom: 2px;
}
.select-pond-main form {
  margin: 0px 0;
}
.main-form .calculate-btn button {
  background: #9f9e9e none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 25px;
  margin-top: 10px;
}
.main-form p {
  color: #97989a;
  font-size: 10px;
  text-align: center;
}
.form-group.calculate-btn {
  text-align: center;
}
.select-pond-main .main-form .form-group input {
  border-radius: 10px;
}
.main-form .form-group {
  margin-bottom: 5px;
}
.color-icon-green {

  font-size: 0;
  height: 40px;
  width: 40px;
   margin: 0 auto;
}
.greenc {
  background: #4484d9 none repeat scroll 0 0;
}
.three-shapes .active .greenc {
  background: #55c373 none repeat scroll 0 0;
}
.color-icon-oval {

  font-size: 0;
  height: 40px;
  width: 40px;
  border-radius:10px;
   margin: 0 auto;
}
.color-icon-round {

  font-size: 0;
  height: 40px;
  width: 40px;
  border-radius:50%;
   margin: 0 auto;
}
.three-shapes li a {
  text-decoration: none;
}
.container.mobile-pond {
  display: none;
}
.desktop-pond .main-pond {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.desktop-pond {
  margin-top: 40px;
}
.pond-pop-up h4 {
  color: #0a4c9e;
  font-family: Calibri;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.pond-pop-up p {
  color: #030303 !important;
  font-size: 12px;
  font-weight: bold;
  word-spacing: 5px;
}
.pond-pop-up p.italic-text {
  color: #ef0a1a !important;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  word-spacing: 0;
  margin:0;
}
.pond-pop-up {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  margin-top: 40px;
  padding: 0 15px 1px;
  width: 100%;
}

/** csss **/

.select-pond-main h3 {
  font-family: Calibri;
  margin-top: 15px;
  font-size: 13px;
}

.three-shapes.nav.nav-tabs span {
	font-family: Calibri;
	font-size: 13px;
}
.nav-tabs > li > a {
	margin-right: 0px;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 12px 13px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: none;
	cursor: default;
	background-color: none;
	border: none;
	border-bottom-color: none;
}

.nav-tabs {
	border-bottom: none;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.nav-tabs > li > a:hover {
	border-color:transparent;
}

.three-shapes.nav.nav-tabs {
	margin: 0px;
}

.btn.btn-default.popup {
  background-color: #9f9e9e;
  border: medium none;
  border-radius: 10px;
  color: #fff;
  font-family: Calibri;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 25px;
  text-transform: uppercase;
}

.pond-pop-up .italic-text-2 {
  color: #999 !important;
  font-size: 10px !important;
  letter-spacing: 0.3px;
  text-align: right;
  word-spacing: 0.4px;
}
.widget button, .widget input, .widget select, .widget textarea {
  font-size: 14px;
  font-weight: bold;
  font-family: Calbri;
}

.color-icon-oval.greenc {
  border-radius: 50%;
  height: 35px;
  margin: 3px -4px 2px;
  width: 50px;
}




@media (max-width:767px) {
.main-pond .three-shapes li .color-icon-green, .color-icon-oval, .color-icon-round {
    margin: 0;
}
.three-shapes.nav.nav-tabs > li {
  display: block;
  margin-top: 10px;
  text-align: center;
  width: auto;
}
.three-shapes.nav.nav-tabs > li a {
  padding: 0;
  border: none;
  background:none;
}
.three-shapes.nav.nav-tabs > li a:hover {
  padding: 0;
  border: none;
}
.select-pond-main.mobile-pond {
  float: left;
  width: 100%;
}
.main-pond .three-shapes {
  float: left;
  width: 15%;
}
.main-pond  form {
  float: right;
  width: 80%;
}
.main-pond  .main-form .form-group {
  display: inline-block;
  margin-bottom: 15px;
  width: 48%;
}
.main-pond  form label {
  font-size: 10px;

}
.main-pond   h3 {
  text-align: left;
}
.main-pond  .main-form .calculate-btn button {
  margin-top: 0;

}
.main-pond  .main-form p {

  font-size: 10px;
  line-height: 12px;
  text-align:left;
}
.container .main-pond {
  display: block;
}
.container.desktop-pond {
  display: none;
}
.main-pond  .select-pond-main {
  float: left;
  margin-top: 30px;
  width: 100%;
}
.main-pond  .select-pond-main form {
  margin: 0;
}
.form-group.last-feild {
  width: 100% !important;
}
}
@media (max-width:540px) {
.popupbox2 {
  left: 0 !important;
  margin-left: 0 !important;
  width: 94% !important;
}
}

/*  Popup */ 
/* CSS Document */
#trigger {
	text-align:center;
}

/* Style you custom popupbox according to your requirement */
.popupbox {
	width:500px;
	height:300px;
	background-repeat:no-repeat;
	display: none; /* Hidden as default */
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
.popupbox2 {
  background-repeat: no-repeat;
  box-shadow: none;
  display: none;
  float: left;
  height: auto;
  left: 50%;
  max-width: 550px;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 99999;
}
.popupbox3 {
	width:502px;
	height:302px;
	background-repeat:no-repeat;
	display: none;
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
#fade { 
	display: none; /* Hidden as default */
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
#intabdiv {
	text-align:center;
}
#close img {
	text-decoration:none;
}
#close {
	width:50px;
	height:50px;
	position: absolute;
	float:right;
}

#intabdiv2 {
	padding:70px;
}
#intabdiv2  h2 {
	font-size:24px;
	color:#696868;
	font-family:Verdana, Geneva, sans-serif;
}
#intabdiv2 p {
  color: #696868;
  font-family: Calibri;
  font-size: 13px;
  line-height: 14px;
}

#intabdiv3 {
	padding:70px;
}
#intabdiv3  h2 {
	font-size:24px;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
}
#intabdiv3 p {
	font-size:12px;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	line-height:20px;
}
.desktop-pond .popupbox2 #intabdiv2 {
	padding:70px 0;
}
.cross-close > img {
  cursor: pointer;
  float: right;
  position: relative;
  right: -27px;
  top: -15px;
  width: 25px;
}
.water-img {
  text-align: center;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #ffffff;
  border: medium none;
  color: #555555;
  cursor: default;
}	.art-block.widget.widget_pond_calculator_widget.clearfix {    max-width: 320px;}ul.three-shapes > li::before {  display: none;}ul.three-shapes > li::after {  display: none;}
